[Unit]
Description=Minecraft server
After=network-online.target

[Service]
Type=forking
WorkingDirectory=/var/lib/minecraft/%i
ExecStart=/var/lib/minecraft/scripts/start.sh "%i"
ExecStop=/var/lib/minecraft/scripts/stop.sh "%i"
Restart=on-failure

[Install]
WantedBy = multi-user.target
